<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kamadayuji.smartglass_systemflow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sg_icon"
        android:roundIcon="@mipmap/sg_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/My_Theme">
        <activity
            android:name=".MainActivity"
            android:label="@string/MainActivity_label_name"
            android:screenOrientation="landscape"
            android:theme="@style/My_Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name=".PatientListActivity"
        android:label="@string/PatientListActivity_label_name"
        android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".QRCodeRecognitionActivity"
            android:label="@string/QRCodeRecognitionActivity_label_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".CheakQRcodeActivity"
            android:label="@string/CheakQRcodeActivity_label_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
        android:name=".PatientInfoDetailActivity"
        android:label="@string/PatientInfoDetailActivity_label_name"
        android:screenOrientation="landscape" >
    </activity>
        <activity
            android:name=".PatientRegistrationActivity"
            android:label="@string/PatientRegistrationlActivity_label_name"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>