<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kamadayuji.smartglass_systemflow">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_sgicon"
        android:roundIcon="@drawable/ic_sgicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/My_Theme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".A01MainActivity"
            android:label="@string/MainActivity_label_name"
            android:screenOrientation="landscape"
            android:theme="@style/My_Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name=".A05PatientListActivity"
        android:label="@string/PatientListActivity_label_name"
        android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".A02QRCodeRecognitionActivity"
            android:label="@string/QRCodeRecognitionActivity_label_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".A03CheakQRcodeActivity"
            android:label="@string/CheakQRcodeActivity_label_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
        android:name=".A06PatientInfoDetailActivity"
        android:label="@string/PatientInfoDetailActivity_label_name"
        android:screenOrientation="landscape" >
    </activity>
        <activity
            android:name=".A04PatientRegistrationActivity"
            android:label="@string/PatientRegistrationActivity_label_name"
            android:screenOrientation="landscape" >
    </activity>
        <activity
        android:name=".A07PatientInspectionResultActivity"
        android:label="@string/PatientInspectionResultActivity"
        android:screenOrientation="landscape" >
    </activity>

        <activity
        android:name=".A08_2PatientBloodPressRegAndEdit"
        android:label="@string/PatientBloodPressRegAndEdit"
        android:screenOrientation="landscape" >
    </activity>

        <activity
            android:name=".A08_1PatientBodyTempRegAndEdit"
            android:label="@string/PatientBodyTempRegAndEdit"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".A10"
            android:label="数値読み取り"
            android:screenOrientation="landscape">
        </activity>

    </application>

</manifest>